<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzt.ssm.blog.mapper.ArticleCategoryRefMapper">
    <resultMap id="BaseResultMap" type="com.lzt.ssm.blog.entity.ArticleCategoryRef">
        <result column="article_id" property="articleId" jdbcType="INTEGER"></result>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"></result>
    </resultMap>

    <sql id="tb">article_category_ref</sql>

    <insert id="insert" parameterType="com.lzt.ssm.blog.entity.ArticleCategoryRef">
        insert into
        <include refid="tb"/>
        (article_id, category_id)
        values(#{articleId}, #{categoryId})
    </insert>

    <delete id="deleteByCategoryId" parameterType="java.lang.Integer">
        delete from
        <include refid="tb"/>
        where category_id = #{value}
    </delete>

    <delete id="deleteByArticleId" parameterType="java.lang.Integer">
        delete from
        <include refid="tb"/>
        where article_id = #{value}
    </delete>

    <select id="countArticleByCategoryId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from
        <include refid="tb"/>
        where category_id = #{value}
    </select>

    <select id="selectCategoryIdByArticleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select category_id from
        <include refid="tb"/>
        where article_id = #{value}
    </select>

    <select id="selectArticleIdByCategoryId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select article_id from
        <include refid="tb"/>
        where category_id = #{value}
    </select>

    <select id="listCategoryByArticleId" parameterType="java.lang.Integer" resultType="com.lzt.ssm.blog.entity.Category">
        select c.*
        from category as c, article_category_ref as acr
        where acr.article_id = #{value} and c.category_id = acr.category_id
        order by c.category_pid asc
    </select>

</mapper>