<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzt.ssm.blog.mapper.NoticeMoveMapper">
    <select id="preEntityByOrder" parameterType="int" resultType="com.lzt.ssm.blog.entity.Notice">
        select * from notice  where  notice_order &lt; #{notice_order} order by notice_order desc limit 1
    </select>

    <select id="nextEntityByOrder" parameterType="int" resultType="com.lzt.ssm.blog.entity.Notice">
       select * from notice where notice_order &gt; #{notice_order} order by notice_order asc limit 1
    </select>

    <select id="getMaxOrder" resultType="java.lang.Integer">
      select max(notice_order) from notice
    </select>
</mapper>